html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* 
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0; /*THE ICON SIZE IS 0*/
    color: #ffffff; 
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0); /* WHAT DOES IT DO? */
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px; /* NOW THE CARD IS VISIBLE BECAUSE OF THE FONT */
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .min {
    padding-left: 25px; 
}

.bg-modal {
    width: 100%; 
    height: 850px;
    background-color: rgba(0, 0, 0, 0.7); 
    position: absolute; /* when you say abs then you can say WHERE exactly which is top, see below */
    top: 0; 
    justify-content: center; 
    align-items: center; 
    display: none; 
}

.modal-content {
    width: 500px; 
    height: 300px;
    background-color: white; 
    border-radius: 10px; 
    text-align: center; 
    padding: 27px 20px 25px;
    margin-bottom: 50px; 
}

.modal-text {
    font-family: 'Lora', serif;
    font-size: 27px;
    font-weight: 600; 
    color: #7f7f7f;
}

.score {
    font-family: 'Lora', serif;
    color: #646363;
}

.button {
    background-color: #10a6b1;
    border-radius: 10px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}  

.fa-check-circle {
    font-size: 40px; 
    color: #10a6b1; 
}